<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> ZTREE DEMO </title>
    <link rel="shortcut icon" href="#"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/ztree/demo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/ztree/zTreeStyle/zTreeStyle.css}" type="text/css">
    <script type="text/javascript" th:src="@{/static/js/ztree/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.core.js}"></script>
    <script th:src="@{/static/js/common/common.js}"></script>
</head>
<body>
<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
<SCRIPT LANGUAGE="JavaScript">
    /*$.ajax({
        url: ctx + "/api/tree",
        type: "post",
        dataType: "json",
        success: function(res) {
        },
        error:function (e) {
            console.log("e:" + e);
        }
    });*/
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        async: {
            enable: true,
            url: ctx + "api/tree",
            callback: {
                beforeAsync: zTreeBeforeAsync,
                onAsyncSuccess: zTreeOnAsyncSuccess,
                onAsyncError: zTreeOnAsyncError
            },
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },view: {
            expandSpeed: ""
        }
    };
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"广东省", id:"1", count:500, times:1, isParent:true},
        {name:"江西省", id:"2", count:1000, times:1, isParent:true}
    ];
    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    function zTreeBeforeAsync() {
        console.log("zTreeBeforeAsync");
    }
    function zTreeOnAsyncSuccess(treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        treeNode.icon = "";
        zTree.updateNode(treeNode);
        zTree.selectNode(treeNode.children[0]);
    }
    function zTreeOnAsyncError() {
        console.log("zTreeOnAsyncError");
    }
</SCRIPT>
</body>
</html>
